@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Red Hat Display';
    font-size: 16px;
}

body {
    background: #FAFAFA;
}



.meet-logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.meet-logo-top img {
    height: 30px;
    width: 120px;
}

hero-section {
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1rem auto 2rem auto;
    height: 500px;
    padding: 10px;
    overflow-x: hidden;
}

.hero-image {
    width: 105%;
    height: 100%;
    position: absolute;
    z-index: -1;

}

.hero-image::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(./assets/desktop/image-hero-left.png) no-repeat top 60px left;
}

.hero-image::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(./assets/desktop/image-hero-right.png) no-repeat top 100px right;
}

.group-3 {
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 540px;
}



#group-chat-headline {
    font-size: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #28283D;
    line-height: 1;
}

.download-btn {
    background: #4D96A9;
}

.download-btn:hover {
    background: #71C0D4;
    cursor: pointer;
}

.buttons {
    align-self: center;
    margin: 10px;
    border-radius: 29px;
    padding: 15px 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
    border-style: none;
    text-decoration: none;
}

.what-btn {
    background: #855FB1;
}

.what-btn:hover {
    background: #B18BDD;
    cursor: pointer;
}

.download-btn span {
    color: #8FE3F9;
}

.download-btn-end {
    color: #FFFFFF;
    background: #855FB1;
}

.download-btn-end span {
    color: #D9B8FF;
}

#btns {
    margin: auto;
    display: flex;
}

.count-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.counting,
.line {
    background: #FAFAFA;
    border: 1px solid rgba(135, 135, 157, 0.25);
}

.counting {
    width: 50px;
    height: 50px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counting #zero-num {
    color: #87879D;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
}

.count-group .line {
    width: 1px;
    height: 80px;
}

.count-group-2 {
    position: relative;
    z-index: 2;
    margin-bottom: -25px;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem auto;

}

.gallery img {
    border-radius: 8px;
    width: 18%;
    margin: 0.7rem;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.mid-section-text {
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 540px;
    padding: 10px;
}

.mid-section-text > h2 {
    margin-left: 50px;
    font-weight: 900;
    font-size: 40px;
    color: #28283D;
    margin-bottom: 15px;
    width: 80%;

}


.mid-section-text .smart-text {
    display: block;
    margin-bottom: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #4D96A9;
    margin-bottom: 10px;
}

.mid-section-text > p {
    max-width: 540px;
    font-size: 18px;
    font-weight: 500;
    color: #87879D;
    line-height: 26px;
    text-align: center;
    margin-top: -30px;

}


#headline-text {
    font-size: 18px;
    font-weight: 500;
    color: #87879D;
    line-height: 26px;
    text-align: center;
}


.footer {
    background-image: url(./assets/desktop/image-footer.jpg);
    height: 308px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    z-index: 1;

}

.overlay {
    width: 100%;
    background: #4D96A9;
    opacity: 0.9;

}

.footer-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-content: center;
    align-items: center;
    grid-gap: 2rem;

}


.footer-container > h2 {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
    padding-left: 20px;
    max-width: 400px;
}

.footer-container > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FAFAFA;
    justify-self: center;
    margin-right: -25px;

}

.footer-container > .btn-end {
    align-self: center;
    justify-self: end;
}

.footer-container .download-btn-end:hover {
    background: #B18BDD;
    cursor: pointer;
}


/* 480px and below */
@media only screen and (max-width: 480px) {
    .footer-container   {
        
        
    }
    
    .footer-container > h2 {
        max-width: 327px;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;

    }

    .mid-section-text {}

    .mid-section-text > h2 {
        max-width: 327px;
    }

    #btns {
        flex-direction: column;
        align-items: center;
    }
}

/* 576px and below */
@media only screen and (max-width: 576px) {
    .footer-container {
        padding-bottom: 20px;
        margin-top: 30px;
        max-height: 90%;
    }
    
    .footer-container > .btn-end   {
        padding-bottom: 10px;
    }
}

/* 768px and below */
@media only screen and (max-width: 768px) {
    .footer {}

    .container {
        height: 800px;
    }
}


@media only screen and (max-width: 992px) {
    .hero-image {
        position: relative;
        width: 120%;
        background: url(./assets/tablet/image-hero.png) 50% 50% no-repeat;
        background-size: contain;
    }

    .hero-image::before,
    .hero-image::after {
        background: none;
    }

    .container {
        width: auto;
        height: 800px;
        overflow-x: hidden;

    }

    .footer {
        background: url(./assets/tablet/image-footer.jpg) no-repeat;
        width: 100%;
        max-height: 500px;

    }

    .footer-container {
        grid-template-rows: auto;
        grid-template-columns: none;
        

    }

    .footer-container > .btn-end,
    .footer-container > p,
    .footer-container > h2 {
        justify-self: center;
        text-align: center;

    }

    .footer-container > h2 {
        max-width: 457px;
        align-self: center;
    }

    .footer-container > p {
        font-size: 1rem;
        max-width: 80%;
        margin-right: 0;
    }

    .footer-container > .btn-end {}

    .gallery {}

    .gallery > img {
        width: 164px;
        height: 156px;

    }

}
