* {
    box-sizing: border-box;

}

body {
    font-family: 'Red Hat Display';
    font-size: 16px;
    position: relative;
    background: #FAFAFA;
    overflow-x: hidden;
}

.meet-logo-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.meet-logo-top img {
    height: 30px;
    width: 120px;
}

.container {
    display: flex;
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px auto 100px auto;
    height: 400px;

}

#group-3 {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 540px;
}

.left {
    position: absolute;
    left: -3%;
}

.right {
    position: absolute;
    right: -3%;
}

#head-text-div {
    margin: -20px auto 20px auto;
}

#headline-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#group-chat-div {
    margin-bottom: -10px;
}

#group-chat-headline {
    font-size: 64px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #28283D;
}

/*
#headline-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    color: #28283D;
}
*/


.download-btn {
    background: #4D96A9;
}

.buttons {
    align-self: center;
    margin: 10px;
    border-radius: 29px;
    padding: 15px 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 16px;
    border-style: none;
}

.what-btn {
    background: #855FB1;
}

.download-btn span {
    color: #8FE3F9;
}

.download-btn-end {
    color: #FFFFFF;
    background: #855FB1;
}

.download-btn-end span {

    color: #D9B8FF;
}

#btns {
    margin: auto;
    display: flex;
}

.count-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.counting,
.line {
    background: #FAFAFA;
    border: 1px solid rgba(135, 135, 157, 0.25);
}

.counting {
    width: 50px;
    height: 50px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counting #zero-num {
    color: #87879D;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
}

.count-group .line {
    width: 1px;
    height: 80px;
}

.count-group-2 {
    position: relative;
    z-index: 2;
    margin-bottom: -25px;
    
}

.gallery {
    margin-top: 30px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.gallery-container img {
    border-radius: 8px;
    width: 18%;
    margin: 0.7rem;
}

.mid-section {
    margin: 30px auto;
    text-align: center;
    width: 550px;
}

.mid-section-container {
    padding: 20px;
}


#headline-text {
    font-size: 18px;
    font-weight: 500;
    color: #87879D;
    line-height: 26px;
    text-align: center;
}

.mid-section-container h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: #28283D;
}


.mid-section-container #blue-text {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #4D96A9;
    margin-bottom: -15px;
}

.footer {
    background-image: url(./assets/desktop/image-footer.jpg);
    height: 308px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    z-index: 1;

}

.overlay {
    width: 100%;
    background: #4D96A9;
    opacity: 0.9;
}

.footer-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
}


.footer-container h2 {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
    padding-left: 20px;
    justify-self: center;
}

.footer-container h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FAFAFA;
    justify-self: center;

}

.footer-container .btn-end {
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 768px) {}
